body {
    background-color: #242424;
    color: #FFFAEC;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: clamp(200px, 25vh, 500px);
    margin: 0;
    padding: 20px;
    background-color: #F5ECD5;
    border-radius: 12px;
    border: 2px solid #578E7E;
    color: #3D3D3D;
}


.container  h2{
    font-size: 0.625em;
}

.service-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    margin: 5%;
    padding: 5%;
    max-height: 80vh;
    overflow-y: auto;
}

.rating-score-container {
    flex: 1 1 300px;
    min-width: 300px;
    max-width: 37%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.comment-container {
    flex: 1 1 500px;
    min-width: 300px;
    max-width: 60%;
    box-sizing: border-box;
}

@media (min-width: 1700px) {
    .service-container {
        max-width: 400px;
        max-height: 80vh;

        margin: 0;
        margin-top: 5vh;
        padding: 0;

        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .comment-container{
    }

    .rating-score-container,
    .comment-container {
        width: 100%;
    }

    .service-container > .rating-score-container,
    .service-container > .comment-container {
        flex: 1 1 100%;
    }
}

.service-container {
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.service-container::-webkit-scrollbar {
    display: none;
}


.title {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: #578E7E;
    padding: 12px;
    border-bottom: 2px solid #3D3D3D;
    margin-bottom: 20px;
}

.top-score-container{
    width: clamp(200px, 30vw, 90%);
}

.top-score-title{
    font-size: clamp(20px, 2em, 40px);
}


.score-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.score-item {

    margin: 5%;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border-bottom: 1px solid #3D3D3D;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.score-item:last-child {
    border-bottom: none;
}

.highlight {
    color: #578E7E;
    font-weight: 600;
}

.score-item:hover {
    background-color: #578E7E;
    color: #FFFAEC;
}

.loading {
    text-align: center;
    font-size: 14px;
    color: #888;
    margin-top: 20px;
}

.rating-container {
    margin-top: 40px;
    background-color: transparent;
    border: none;
}

.average-rating {
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    color: #F5ECD5;
}

.stars {
    display: flex;
    justify-content: center;
    gap: 10px;

    width: 100%;
}

.star {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30px;
    min-height: 30px;
    width: 15%;
    aspect-ratio: 1 / 1;
    margin: 0;


    text-align: center;
    font-size: 24px;
    color: #3D3D3D;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}


.star.filled {
    color: #FE7743;
}

.star.hovered {
    color: #FE7743;
}

.average-text {
    font-size: 16px;
    color: #F5ECD5;
}

.user-rating {
    text-align: center;
    margin: 0;

    width: 100%;
}

.user-rating span {
    font-weight: 500;
    font-size: 16px;
    color: #F5ECD5;
}

.user-rating .stars {
    margin-top: 8px;
}

button:disabled {
    cursor: not-allowed;
    color: #888;
}

button {
    background-color: #578E7E;
    color: #FFFAEC;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    color: #FFFAEC;
}

button:disabled {
    background-color: #F5ECD5;
    color: #888;
}

.comment-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.comment-input textarea {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #578E7E;
    resize: none;
    font-family: Arial;
}

.comment-input button {
    margin-top: 10px;
    background-color: #578E7E;
    color: #FFFAEC;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.comment-input button:hover {
    background-color: #3D3D3D;
    color: #FFFAEC;
}

.comment-input button:disabled {
    background-color: #F5ECD5;
    color: #888;
    cursor: not-allowed;
}

.comments-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comment-block {
    background-color: #F5ECD5;
    color: #3D3D3D;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #578E7E;
}

.comment-block .player-info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 600;
    color: #578E7E;
}

.comment-block .comment-text {
    text-align: start;
    font-size: 14px;
    padding: 5px;
    background-color: #F5ECD5;
    color: #3D3D3D;
    border-top: 1px solid #578E7E;
    overflow-wrap: break-word;
}
